.room-filter {
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
  font-size: 1.2rem;

  p { 
    margin: 0 0.2rem;
  }

}

.room-filter-control {
  font-size: 1.1rem;
  margin: 0 0.5rem;
}

.room-filter-counter {
  font-size: 1.5rem;
}